<ion-card class="section-header">
  <ion-card-header>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://gif-avatars.com/img/200x200/vertical-c.gif" />
      </ion-avatar>
      <ion-label> <ion-card-title>Jose Joaquin Rojas Romero</ion-card-title>
        <ion-card-subtitle>Junior FullStack Developer</ion-card-subtitle></ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <strong>Software Engineering</strong> graduate from the <strong>University of
      Seville (ETSII)</strong>, I
    possess a solid technical foundation ranging from <strong>Java APIs</strong> and Cybersecurity
    to desktop GUI development with <strong>Python</strong>, which was the core of my Bachelor's
    Thesis (TFG). Currently, I am specializing in high-performance <strong>Frontend
      development</strong>, fully
    immersed in the <strong>Angular</strong> and <strong>Ionic</strong> ecosystem
    using <strong>Capacitor</strong>. My goal is to
    leverage
    this multidisciplinary background to build <strong>hybrid mobile solutions</strong> and fluid
    interfaces
    that are as technically <strong>robust</strong> as they are <strong>user-friendly</strong>.
  </ion-card-content>
</ion-card>