<ion-card>
  <ion-card-header>
    <ion-card-title>Jose Joaquin Rojas Romero</ion-card-title>
    <ion-card-subtitle>Junior FullStack Developer</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <strong class="green-text">Software Engineering</strong> graduate from the University of Seville (ETSII), I
    possess a solid technical foundation ranging from Java APIs and Cybersecurity
    to desktop GUI development with Python, which was the core of my Bachelor's Thesis
    (TFG). Currently, I am specializing in high-performance Frontend development, fully
    immersed in the <strong class="magenta-text">Angular</strong> and <strong class="blue-text">Ionic</strong> ecosystem
    using Capacitor. My goal is to
    leverage
    this multidisciplinary background to build hybrid mobile solutions and fluid interfaces
    that are as technically robust as they are user-friendly.
  </ion-card-content>
</ion-card>