<ion-content>
  <app-hero-section></app-hero-section>
  <app-cube-background></app-cube-background>
  <app-header-mobile></app-header-mobile>
  <div class="ion-page" id="main-content">
    <app-header></app-header>

    @for(item of sections; track item.id){

    <app-sections [section]="item" [id]="item.title.toLowerCase()"></app-sections>

    @switch (item.id) {
    @case (1) { <app-about-me /> }
    @case (2) { <app-skills /> }
    @case (3) { <app-projects /> }
    @case (4) { <app-works /> }
    @case (5) { <app-certs-and-education /> }
    @case (6) { <app-github-chart /> }
    }
    }

  </div>
  <app-floating-buttons></app-floating-buttons>
</ion-content>