<ion-card>
  <ion-card-header>
    <ion-card-title>Projects</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>

<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <!--PYNOTECH-->
      <ion-card class="project-card">
        <div class="card-content-wrapper">
          <div class="image-container">
            <img alt="Pynotech image"
              src="https://private-user-images.githubusercontent.com/32680720/338114808-9316e2fc-fb30-45b1-a28a-81b99496083b.png?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NjY1OTkxOTAsIm5iZiI6MTc2NjU5ODg5MCwicGF0aCI6Ii8zMjY4MDcyMC8zMzgxMTQ4MDgtOTMxNmUyZmMtZmIzMC00NWIxLWEyOGEtODFiOTk0OTYwODNiLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNTEyMjQlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjUxMjI0VDE3NTQ1MFomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTRlN2RjNDg1NjM5MDRkOGRmNTJhMDk2OWU0YzA4YzUzYTc0NzczYjMzYzFlOTJlMjhlMzczYjU0MGI1Mjc1YTQmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.ZBunWwmSqW2hCrG9ThRv9CoGyrr1hWAegc92oy94WeU" />
          </div>
        </div>

        <ion-card-header>
          <ion-card-title>Pynotech</ion-card-title>
          <ion-card-subtitle>notepad using PySide6</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Pynotech a notepad developed using PySide6 in my Bachelor's Thesis (TFG).
        </ion-card-content>
        <div class="hover-overlay">
          <ion-button fill="outline" color="light" class="github-btn" href="https://github.com/1337KR3W/pyNotech"
            target="blank">
            <ion-icon slot="start" name="logo-github"></ion-icon>
            View GitHub repository
          </ion-button>
        </div>
      </ion-card>
    </ion-col>
    <ion-col>
      <!--ACME-->
      <ion-card class="project-card">
        <div class="card-content-wrapper">
          <div class="image-container">
            <img alt="Acme image"
              src="https://imgs.search.brave.com/IFaHHI459eI0NZneM6i-3erSiJJLG107qbQoxT7q-a4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9sb2dv/ZGl4LmNvbS9sb2dv/LzE2MTQ0NzcucG5n" />
          </div>
        </div>
        <ion-card-header>
          <ion-card-title>Acme Platform</ion-card-title>
          <ion-card-subtitle>Web application server for managing students and teachers</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Acme is a framework used during my studies to learn how to create rest services with Java.
        </ion-card-content>
        <div class="hover-overlay">
          <ion-button fill="outline" color="light" class="github-btn" href="https://github.com/1337KR3W/DP2-G27-Acme"
            target="blank">
            <ion-icon slot="start" name="logo-github"></ion-icon>
            View GitHub repository
          </ion-button>
        </div>
      </ion-card>
    </ion-col>
    <ion-col>
      <!--Virtual Knowledge-->
      <ion-card class="project-card">
        <div class="card-content-wrapper">
          <div class="image-container">
            <img alt="Virtualknowledge image"
              src="https://private-user-images.githubusercontent.com/32680720/530072995-ea73be93-6c61-459f-b292-1c5b2b49d448.png?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NjY2MDI1OTEsIm5iZiI6MTc2NjYwMjI5MSwicGF0aCI6Ii8zMjY4MDcyMC81MzAwNzI5OTUtZWE3M2JlOTMtNmM2MS00NTlmLWIyOTItMWM1YjJiNDlkNDQ4LnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNTEyMjQlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjUxMjI0VDE4NTEzMVomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTZmNjg4YWMyNTZkYzFkZjdmZjgwMTJhNjAyZTEwNmY3MjQ3NjUxMTFlM2ZlN2Q5ZTZhOWRmZjI4MzQxYTA3MTcmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.HHmUTmuNcy5NWVPz-AXCNzouPn6B7jLr65QG5eLvdsI" />
          </div>
        </div>
        <ion-card-header>
          <ion-card-title>Virtual Knowledge</ion-card-title>
          <ion-card-subtitle>Web application in Angular</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Virtual Knowledge is a web app that uses ReqRes public API for managing user data using Angular and Material
          Design.
        </ion-card-content>
        <div class="hover-overlay">
          <ion-button fill="outline" color="light" class="github-btn"
            href="https://github.com/1337KR3W/Virtualknowledge-Frontend" target="blank">
            <ion-icon slot="start" name="logo-github"></ion-icon>
            View GitHub repository
          </ion-button>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>