<ion-card>
  <ion-card-header>
    <ion-card-title>Skills</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    During my studies and internships, I have developed the following technical skills:
  </ion-card-content>
</ion-card>
<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>

      Angular

    </ion-col>
    <ion-col>TypeScript</ion-col>
    <ion-col>Ionic</ion-col>
    <ion-col>Capacitor</ion-col>
    <ion-col>Spring Boot</ion-col>
    <ion-col>Java</ion-col>
    <ion-col>MySQL</ion-col>
    <ion-col>Docker</ion-col>
  </ion-row>
</ion-grid>