.skills-img img:hover {
    transform: scale(1.1);
}

.skills-img:hover::before {

    content: '';
    position: absolute;
    width: 85%;
    height: 60%;
    background: conic-gradient(var(--theme-accent-color), var(--theme-accent-color));
    animation: 4s forwards linear infinite;


    filter: blur(1.5rem);
    opacity: 0.25;
    z-index: -1;

}