/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import '@ionic/angular/css/palettes/dark.system.css';
@import '@ionic/angular/css/palettes/dark.always.css';

:root {
    --theme-accent-color: greenyellow;
}

strong {
    color: var(--theme-accent-color);
}

//-----THEMES
// Red
.theme-red {
    --theme-accent-color: rgb(255, 16, 16);
}

//Blue
.theme-blue {
    --theme-accent-color: rgb(50, 165, 194);
}

// Green
.theme-green {
    --theme-accent-color: rgb(173, 255, 47);
}

ion-card-title {
    color: var(--theme-accent-color);

}

.custom-fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

ion-button {
    margin: 0 6px;
    --background: var(--theme-accent-color);
}

ion-fab-button {
    margin: 4px 4px;
    --background: var(--theme-accent-color);
    --color: black;
}

.item-card {
    position: relative;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(39, 39, 39, 0.877);

    .card-content-wrapper {
        transition: filter 0.4s ease;
    }

    .hover-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px); //safari

        opacity: 0;
        transition: opacity 0.4s ease;
        z-index: 2;
    }

    &:hover {
        .card-content-wrapper {
            filter: blur(2px);
        }

        .hover-overlay {
            opacity: 1;
        }
    }
}

.github-btn {
    --border-radius: 8px;
    --border-color: var(--theme-accent-color);
    --color: var(--theme-accent-color);
    --background: rgba(0, 0, 0, 0);
    font-weight: bold;
    text-transform: none;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.05);
    }
}

section,
[id] {
    scroll-margin-top: 100px;
}

ion-content {
    --scrollbar-width: 0px;
    --scrollbar-style: none;

    &::part(scroll) {
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE/Edge */

        &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, Brave */
            width: 0;
            height: 0;
        }
    }
}